# Ignore regex files copied here from giella-shared:
area-tags.txt
derivation-tags.txt
dialect-tags.txt
error-tags.txt
grammatical-tags.txt
lexicon-tags.txt
make-optional-area-tags.regex
make-optional-derivation-tags.regex
make-optional-dialect-tags.regex
make-optional-error-tags.regex
make-optional-foc-tags.regex
make-optional-grammatical-tags.regex
make-optional-orig_lang-tags.regex
make-optional-semantic-tags.regex
orig_lang-tags.txt
remove-area-tags.regex
remove-derivation-strings.regex
remove-derivation-tags.regex
remove-dialect-tags.regex
remove-error-strings.regex
remove-error-tags.regex
remove-grammatical-tags.regex
remove-orig_lang-tags.regex
remove-semantic-tags-before-derivations.regex
remove-semantic-tags.regex
reorder-semantic-tags.regex
semantic-tags.txt
